/***********************************************/
/******************** BUTTONS ******************/
/***********************************************/
button, input[type='submit'], a > b, a > i {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  line-height: var(--line-height);
  font-style: normal;
  color: var(--color-bg);
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius);
  padding: .75rem 1.15rem;
  margin: 1.5rem 0 0.5rem 0;
  cursor: pointer;
  transition: all ease-in-out 150ms;
  display: inline-block;
  &:hover {
    filter: brightness(var(--hover-brightness));
  }
}
a > i {
  background: transparent;
  color: var(--color-primary);
}