/***********************************************/
/******************** INPUTS *******************/
/***********************************************/
input, select, textarea {
  background: transparent;
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--color-text);
}
input[type="color"] {
  padding: 0.15rem;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: var(--color-text);
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='currentColor' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0.45rem;
  padding-right: 1.45rem;
}

progress, meter {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1.25rem;
  position: relative;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  background: var(--color-bg-secondary);
}

progress {
  &::-webkit-progress-bar,
  &::-moz-progress-bar {
    background: var(--color-bg);
    border-radius: var(--border-radius);
  }
  &::-webkit-progress-value,
  &::-moz-progress-bar {
    background: var(--color-primary);
    border-radius: var(--border-radius);
  }
}

meter {
  &::-webkit-meter-bar,
  &::-moz-meter-bar {
    background: var(--color-bg-secondary);
    box-shadow: none;
    border-radius: var(--border-radius);
  }
  &::-webkit-meter-optimum-value,
  &:-moz-meter-optimum::-moz-meter-bar {
    background: var(--color-success);;
    border-radius: var(--border-radius);
  }
  &::-webkit-meter-suboptimum-value,
  &:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--color-warning);
    border-radius: var(--border-radius);
  }
  &::-webkit-meter-even-less-good-value,
  &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--color-error);
    border-radius: var(--border-radius);
  }
}

